@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: rgba(255, 255, 255, .6);
  overflow: hidden;
}

.content-header {
  color: #c6c9d2;
}

.card {
  height: 70vh;
  background-color: #121212;
  }

  .select-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select {
    padding: 10px 30px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(18, 18, 18, 0.8);
    color:#c6c9d2;
  }
  
  #icon-arrow {
    padding: 30px;
    color:#c6c9d2;
  }
  
  #input {
    background-color: rgba(18, 18, 18, 0.8);
    border: 1px solid #c6c9d2;
    color:#c6c9d2;
  }
  
  ul {
    list-style: none;
    color:#4766c5;
    padding: 20px;
    margin: 0;
    font-size: 14px;
    text-align: end;
  }

  ul li {
    margin-right: 20vw;
  }