@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: rgba(255, 255, 255, .6);
}

.content-header {
  color: #c6c9d2;
}

#switch {
  float: right;
}

.card {
  min-height: 70vh;
  background-color: #121212;
  }

  .select-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select {
    padding: 10px 30px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(18, 18, 18, 0.8);
    color:#c6c9d2;
  }
  
  #icon-arrow {
    padding: 30px;
    color:#c6c9d2;
  }
  
  #input, #date {
    background-color: rgba(18, 18, 18, 0.8);
    border: .5px solid #c6c9d2;
    color:#c6c9d2;
    border-radius: 5px;
  }
  
  ul {
    list-style: none;
    color: #0d6efd;
    padding: 20px;
    margin: 0;
    font-size: 14px;
    text-align: end;
  }

  ul li {
    margin-right: 20vw;
  }

  .icon-delete {
    position: relative;
    top: 6px;
    margin-left: 10px;
    color: #dc3545;
  }

  .icon-delete:hover {
    opacity: .5;
  }

  .btn-secondary {
    color: #121212;
  }

  .btn-danger {
    color: #121212;
  }

  .btn:focus, .form-control:focus {
    box-shadow: none;
  }

  #error-history, #error-input {
    display: block;
    color: #dc3545;
  }

  #date {
    color-scheme: dark;
  }

  object {
    position: relative;
    top: 6px;
    margin-left: 20px;
  }